/* Variable Defaults */

/* util variables */
$sequentials: "primary", "alt", "tert", "quat", "quin", "sen", "sept", "oct", "non", "den" !default;
$cache: '' !default;

/* branding vars */
$brand-faces: false !default;